html, body, #editor {
  margin: 0;
  height: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
}
h1 {
  padding-left: 10px;
  margin: 20px;
}
#editor {
  border: solid 1px #ccc;
  margin: 0 20px 15px 20px;
}
textarea, #editor div {
  display: inline-block;
  width: 49%;
  height: 100%;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px;
}
textarea {
  border: none;
  border-right: 1px solid #ccc;
  resize: none;
  outline: none;
  background-color: #f6f6f6;
  font-family: 'Monaco', courier, monospace;
  padding: 20px;
}
div#result {
   padding: 20px;
}
.found {
  color: #F00;
}
#rule-info {
  border-collapse: collapse;
  margin: 10px 20px;
  width: calc(100% - 40px);
  } #rule-info th, #rule-info td {
    text-align: left;
    padding: 5px 10px;
    border: solid 1px #ccc;
  } #rule-info th {
    width: 150px;
    color: #888;
    background-color: #ddd;
  }
