<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex">
  <title>編集・校正ツール</title>
  <link rel="stylesheet" type="text/css" href="css/vendor/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body id="app">
  <h1>編集・校正ツール</h1>
  <table id="rule-info">
    <tbody>
      <tr>
        <th>ルール</th>
        <td>{{ info.name }}</td>
      </tr>
      <tr>
        <th>概要</th>
        <td>{{ info.desc }}</td>
      </tr>
      <tr>
        <th>対象語句</th>
        <td>{{ info.word }}</td>
      </tr>
      <tr>
        <th>修正方法</th>
        <td>{{ info.sub }}</td>
      </tr>
      <tr>
        <th>具体例</th>
        <td>
          <ul id="examples">
            <li v-for="example in info.examples">{{ example }}</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <div id="editor">
    <textarea v-model="input"></textarea>
    <div id="result" v-html="input | check" v-on:click="showMessage"></div>
  </div>
  <script src="js/vendor/superagent.min.js"></script>
  <script src="js/vendor/vue.min.js"></script>
  <script src="js/script.js"></script>
</body>
</html>
